name: Update Changelog
on:
  push:
    branches:
      - main
      - master

permissions:
  contents: write

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Update README
        run: |
          MSG=$(git log -1 --pretty=%s)
          DATE=$(date +'%b-%d-%Y')
          ENTRY="- $MSG ($DATE)"
          ESCAPED_ENTRY=$(echo "$ENTRY" | sed 's/[\/&]/\\&/g')
          sed -i "/START_LOG/a $ESCAPED_ENTRY" README.md

      - name: Commit and Push
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "docs: Auto-update README changelog"
          file_pattern: README.md